.footer {
    background: #1f1f1f;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.links {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1.6rem;
}

.links a {
    color: white;
    font-size: 20px;
}